body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
}
#main-heading{
    margin-top: 10px;
     font-size: 2rem;
     text-shadow: 2px 2px 4px #F6B17A;  
}
.container{
    margin: 50px;
    height: 30vh;
    width: 85vh;
    border: 2px solid aliceblue;
    align-items: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 6px black;
}
.button{
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 2px solid black; 
}
#grey{
     background-color: grey;
     box-shadow: 4px 2px 4px black;  
} 
#grey:active{
      transform: scale(1.2);
      
}
#white{
    background-color: #fff;
    box-shadow: 4px 2px 4px black;
}
#white:active{
    transform: scale(1.2);
    
}
#red{
    background-color: red;
    box-shadow: 4px 2px 4px black;
}
#red:active{
    transform: scale(1.2);
}
#yellow{
    background-color: yellow;
    box-shadow: 4px 2px 4px black;  
}

#yellow:active{
    transform: scale(1.2);
}  
#blue{
    background-color: blue;
    box-shadow: 4px 2px 4px black;
}
#blue:active{
    transform: scale(1.2);  
}
#msg{
    font: 0.65rem;
    color: black;
    text-shadow: 1px 1px 3px rgb(192, 192, 15);
}

#start{
    background-color: #c77029;
    border-radius: 2px;
    color: black;
    box-shadow: 2px 2px 4px  black;
    margin: 10px;
    text-shadow: 1px 1px 2px white;
}
#stop{
    background-color: rgb(205, 88, 108);
    border-radius: 2px;
    color: black;
    font-weight: 500;
    box-shadow: 2px 2px 4px  black;
    text-shadow: 1px 1px 2px white;
}
.h2{
    height: 150px;
    width: 70vw;
    border: 2px solid aliceblue;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 6px black;
}
