/Form
/Lecture 1
/Lecture 10 (Classes and Objects)
/Lecture 11(Callback)
/Lecture 12(Fetch API)
/Lecture 12(Project Currency Converter)
/Lecture 2 (Operators)
/Lecture 3 (Loops and String)
/Lecture 4 (Arrays)
/Lecture 5 (Functions)
/Lecture 6 (DOM)
/Lecture 7(DOM part2)
/Lecture 8 (Events)
/Lecture 9 (Project Rock Paper and Scissors)